@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .category-block {
        height: 150px;
    }
</style>
<div>
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="http://www.bicim.com.tr/tenis-kort-yapimi/suni_cim_tenis-3.jpg" class="grid image-link">
                    <img src="http://www.bicim.com.tr/tenis-kort-yapimi/suni_cim_tenis-3.jpg"  width="650" height="350" alt="#">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="http://www.istanbulburda.com/images/haberler/2017/11/buyukada_deniz_kulubu_dernegi_tenis_kortu_h1722_81d50.jpg" class="grid image-link">
                    <img src="http://www.istanbulburda.com/images/haberler/2017/11/buyukada_deniz_kulubu_dernegi_tenis_kortu_h1722_81d50.jpg" width="650" height="350" alt="#">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="http://www.superspor.com.tr/cms/images/cms/stokResim/1/20131125003239/Buyuk20131125003239sam145.jpg" class="grid image-link">
                    <img src="http://www.superspor.com.tr/cms/images/cms/stokResim/1/20131125003239/Buyuk20131125003239sam145.jpg" width="650" height="350" alt="#">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="http://www.paysa.com.tr/resimler/tenis-kortu-2-1332167466.jpg" class="grid image-link">
                    <img src="http://www.paysa.com.tr/resimler/tenis-kortu-2-1332167466.jpg" width="650" height="350" alt="#">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="http://www.habermilas.com/files/uploads/news/default/27bb7c95bd7b.jpg" class="grid image-link">
                    <img src="http://www.habermilas.com/files/uploads/news/default/27bb7c95bd7b.jpg" width="650" height="350" alt="#">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="http://www.selcuklu.bel.tr/images_upload/town_photo/big/01272016130529M-60-%20(2)-Cihan%20KARACA.jpg" class="grid image-link">
                    <img src="http://www.selcuklu.bel.tr/images_upload/town_photo/big/01272016130529M-60-%20(2)-Cihan%20KARACA.jpg" width="650" height="350" alt="#">
                </a>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
    </div>
</div>
<!--//END BOOKING -->
<!--============================= BOOKING DETAILS =============================-->
<section class="main-block  light-bg">
    <div class="container">
     
        <div class="row">
            <div class="col-md-4 featured-responsive">
                <div class="featured-place-wrap">
                    <a href="detail.html">
                        <img src="http://www.paysa.com.tr/resimler/tenis-kortu-2-1332167466.jpg" class="img-fluid" alt="#">
                        <span class="featured-rating-orange">6.5</span>
                        <div class="featured-title-box">
                            <h6>Burger &amp; Lobster</h6>
                            <p>Restaurant </p> <span>• </span>
                            <p>3 Reviews</p> <span> • </span>
                            <p><span>$$$</span>$$</p>
                            <ul>
                                <li><span class="icon-location-pin"></span>
                                    <p>1301 Avenue, Brooklyn, NY 11230</p>
                                </li>
                                <li><span class="icon-screen-smartphone"></span>
                                    <p>+44 20 7336 8898</p>
                                </li>
                                <li><span class="icon-link"></span>
                                    <p>https://burgerandlobster.com</p>
                                </li>

                            </ul>
                            <div class="bottom-icons">
                                <div class="closed-now">CLOSED NOW</div>
                                <span class="ti-heart"></span>
                                <span class="ti-bookmark"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
           
            <div class="col-md-4 featured-responsive">
                <div class="featured-place-wrap">
                    <a href="detail.html">
                        <img src="http://www.paysa.com.tr/resimler/tenis-kortu-2-1332167466.jpg" class="img-fluid" alt="#">
                        <span class="featured-rating-orange">6.5</span>
                        <div class="featured-title-box">
                            <h6>Burger &amp; Lobster</h6>
                            <p>Restaurant </p> <span>• </span>
                            <p>3 Reviews</p> <span> • </span>
                            <p><span>$$$</span>$$</p>
                            <ul>
                                <li><span class="icon-location-pin"></span>
                                    <p>1301 Avenue, Brooklyn, NY 11230</p>
                                </li>
                                <li><span class="icon-screen-smartphone"></span>
                                    <p>+44 20 7336 8898</p>
                                </li>
                                <li><span class="icon-link"></span>
                                    <p>https://burgerandlobster.com</p>
                                </li>

                            </ul>
                            <div class="bottom-icons">
                                <div class="closed-now">CLOSED NOW</div>
                                <span class="ti-heart"></span>
                                <span class="ti-bookmark"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div><div class="col-md-4 featured-responsive">
    <div class="featured-place-wrap">
        <a href="detail.html">
            <img src="http://www.paysa.com.tr/resimler/tenis-kortu-2-1332167466.jpg" class="img-fluid" alt="#">
            <span class="featured-rating-orange">6.5</span>
            <div class="featured-title-box">
                <h6>Burger &amp; Lobster</h6>
                <p>Restaurant </p> <span>• </span>
                <p>3 Reviews</p> <span> • </span>
                <p><span>$$$</span>$$</p>
                <ul>
                    <li>
                        <span class="icon-location-pin"></span>
                        <p>1301 Avenue, Brooklyn, NY 11230</p>
                    </li>
                    <li>
                        <span class="icon-screen-smartphone"></span>
                        <p>+44 20 7336 8898</p>
                    </li>
                    <li>
                        <span class="icon-link"></span>
                        <p>https://burgerandlobster.com</p>
                    </li>

                </ul>
                <div class="bottom-icons">
                    <div class="closed-now">CLOSED NOW</div>
                    <span class="ti-heart"></span>
                    <span class="ti-bookmark"></span>
                </div>
            </div>
        </a>
    </div>
</div><div class="col-md-4 featured-responsive">
    <div class="featured-place-wrap">
        <a href="detail.html">
            <img src="http://www.paysa.com.tr/resimler/tenis-kortu-2-1332167466.jpg" class="img-fluid" alt="#">
            <span class="featured-rating-orange">6.5</span>
            <div class="featured-title-box">
                <h6>Burger &amp; Lobster</h6>
                <p>Restaurant </p> <span>• </span>
                <p>3 Reviews</p> <span> • </span>
                <p><span>$$$</span>$$</p>
                <ul>
                    <li>
                        <span class="icon-location-pin"></span>
                        <p>1301 Avenue, Brooklyn, NY 11230</p>
                    </li>
                    <li>
                        <span class="icon-screen-smartphone"></span>
                        <p>+44 20 7336 8898</p>
                    </li>
                    <li>
                        <span class="icon-link"></span>
                        <p>https://burgerandlobster.com</p>
                    </li>

                </ul>
                <div class="bottom-icons">
                    <div class="closed-now">CLOSED NOW</div>
                    <span class="ti-heart"></span>
                    <span class="ti-bookmark"></span>
                </div>
            </div>
        </a>
    </div>
</div><div class="col-md-4 featured-responsive">
    <div class="featured-place-wrap">
        <a href="detail.html">
            <img src="http://www.paysa.com.tr/resimler/tenis-kortu-2-1332167466.jpg" class="img-fluid" alt="#">
            <span class="featured-rating-orange">6.5</span>
            <div class="featured-title-box">
                <h6>Burger &amp; Lobster</h6>
                <p>Restaurant </p> <span>• </span>
                <p>3 Reviews</p> <span> • </span>
                <p><span>$$$</span>$$</p>
                <ul>
                    <li>
                        <span class="icon-location-pin"></span>
                        <p>1301 Avenue, Brooklyn, NY 11230</p>
                    </li>
                    <li>
                        <span class="icon-screen-smartphone"></span>
                        <p>+44 20 7336 8898</p>
                    </li>
                    <li>
                        <span class="icon-link"></span>
                        <p>https://burgerandlobster.com</p>
                    </li>

                </ul>
                <div class="bottom-icons">
                    <div class="closed-now">CLOSED NOW</div>
                    <span class="ti-heart"></span>
                    <span class="ti-bookmark"></span>
                </div>
            </div>
        </a>
    </div>
</div><div class="col-md-4 featured-responsive">
    <div class="featured-place-wrap">
        <a href="detail.html">
            <img src="http://www.paysa.com.tr/resimler/tenis-kortu-2-1332167466.jpg" class="img-fluid" alt="#">
            <span class="featured-rating-orange">6.5</span>
            <div class="featured-title-box">
                <h6>Burger &amp; Lobster</h6>
                <p>Restaurant </p> <span>• </span>
                <p>3 Reviews</p> <span> • </span>
                <p><span>$$$</span>$$</p>
                <ul>
                    <li>
                        <span class="icon-location-pin"></span>
                        <p>1301 Avenue, Brooklyn, NY 11230</p>
                    </li>
                    <li>
                        <span class="icon-screen-smartphone"></span>
                        <p>+44 20 7336 8898</p>
                    </li>
                    <li>
                        <span class="icon-link"></span>
                        <p>https://burgerandlobster.com</p>
                    </li>

                </ul>
                <div class="bottom-icons">
                    <div class="closed-now">CLOSED NOW</div>
                    <span class="ti-heart"></span>
                    <span class="ti-bookmark"></span>
                </div>
            </div>
        </a>
    </div>
</div>

        </div>
    </div>
</section>
<!--//END BOOKING DETAILS -->
<!--============================= FOOTER =============================-->